.search-list-page {
    margin-top: 115px;
    background: #F1F1F1;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.search-list-page.has-filter {
    margin-top: 165px;
}

.search-list-item {
    flex: 1;
    flex-basis: 50%;

    display: flex;
    flex-direction: column;
    text-align: left;
}

.search-list-item img {
    width: 100%;
    flex-basis: 60%;
}
.search-list-item .exclusive-label {
    width: 37px;
    height: 33px;
    position: absolute;
    background: #18A286;
    color: white;
    line-height: 33px;
    text-align: center;
}

.item-info {
    padding: 3px;
    height: 140px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-basis: 40%;
}

.item-info .brand-name{
    font-size: 11px;
    line-height: 16px;
}

.item-info .product-name{
    font-weight: 700;
    line-height: 18px;
}

.item-info .price{
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.price .sale-rate {
    float: right;
    color: #FF0000;
}
.price .normal-price  {
    font-size: 11px;
    text-decoration-line: line-through;
    color: #AAAAAA;
}