.common-search-filters {
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.type-button {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 18px;
    margin: 3px;
    
    padding: 7px 11px 7px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
    
    font-weight: 400;
    font-size: 14px;
    
}

.type-button.button-active {
    color: #0078FF;
}

.tag-filters {
    height: 50px;
    display: flex;
    align-items: center;
}
.tag-filters .tag {
    background: #0078FF;
    border-radius: 4px;

    color: white;
    padding: 5px;
    margin: 3px;
    font-size: 12px;
}

.btn-tag-delete {
    border: none;
    background: none;
    color: white;
}
